﻿body{
	width:220px;
	font-family: 'Muli', arial, serif;
	margin:0;
	padding:0;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
li{
	margin-bottom:5px;
	background-color:#e1951c;
	padding-top:2px;
	padding-bottom:2px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
a{
	padding-right:30px;
	text-decoration:none;
	margin-left:5px;
}
.capture{
	background-color:#CCFFCC;
}
.crawl{
	background-color:#66CCFF;
}
.crawlImages{
	background-color:#66CCFF;
}