html, body{
	height: 100%;
}
body{
	text-align: center;
	margin:auto;
	padding:0;
	font-family: 'Muli', arial, serif;
	font-size:16px;
	background-color: #f5f5f5;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}

header{
	text-align: left;
	height: 30px;
	background-color: #0f78ae;
	/*background-color: #024769;*/
	border-bottom: solid;
	border-width: 2px;
	border-bottom-color: #303030;
}
canvas {
	border: solid;
	border-width: 4px;
}
canvas:mousedown{
	cursor: crosshair;
}
.logo{
	position: relative;
	float: left;
	left: 5px;
	top: 5px;
	font-size:18px;
	color: #F7F3E8;
	/*color: #FFF;*/
}

.tabWrap{
	position: relative;
	float:left;
	margin-left: 30px;
	margin-top: 10px;
}
/*actual tabs*/
.tabWrap a{
	color: #000;
	padding: 2px 4px 2px 4px;
	border: solid;
	border-width: 2px;
	border-color: #303030;
}
.extraLinks{
	position: relative;
	float: right;
	margin-right: 50px;
	margin-top: 5px;
}
.extraLinks ul li{
	display: inline;
}
.content{
	height: 100%;
	text-align: left;
	/*margin:auto;*/
}

.mainList{
	margin-left: 50px;
}
/*floating the divs left will force them to wrap their canvas tightly, allowing for de-focus selection within the body*/
.mainList span{
	display: block;
}

.optionPanel{
	position: fixed;
	width: 30px;
	left: 0;
	top: 150;
	border: solid;
	border-width: 2px;
	background-color: #319bd2;
}
#editorOptionPanel{
	z-index: 200;
}
#combinatorOptionPanel{
	z-index: 400;
}
.tool {
	width: 18px;
	height: 18px;
	margin-left: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
	border: solid;
	border-width: 2px;
	border-color: #FFF;
	border-radius: 4px;
	background-color: #FFF;
}
.tool:hover {
	cursor: pointer;
	border-color: #009900;
}
/**
.penOptions{
	position:fixed;
	width: 50px;
	left: 35;
	top: 185;
	z-index: 200;
	padding: 10 10 10 10;
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #024769;
}
*/
.optionList li{
	margin: 5 0 0 0;
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #FFF;
}
.optionList a{
	padding: 5 5 5 5;
}
.mainListWrap {
	height: 100%;
}
.mainList{
	margin: 5 5 5 70;
}
.contentWrap {
	height: 100%;
}

