html, body{
	height: 100%;
	text-align: center;
	background-color: #FFF; 
}
.myWrap
{
	height: 100%;
	text-align: left;
	margin-left:5%;
	margin-right:5%;
	margin-top: 2%;
	padding: 20px 10px 20px 10px;
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #FFF;
}
header
{
	position:relative;
	top: 10px;
	height: 40px;
	border-bottom:solid;
	border-bottom-width: 1px;
	margin-bottom: 10px;
}
.update
{
	margin-left: 2%;
	margin-right: 2%;
	border-bottom: solid;
	border-width: 1px;
}